.App {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  height: 100vh;
  margin:0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
h1{
  font-size: 50px;
}
@media (min-width:768px){
  .App{
    width:50%;
  }
}
.vote-btns{
  border-radius: 20px;
  padding:50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
  border:2px dotted black;
  margin-bottom: 10px;
}
.vote-btns button{
  margin:10px 5px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  cursor: pointer;
  padding:10px 30px;
  background-color:crimson;
  color:white;
  font-size: 20px;
  border-radius: 20px;
  border: none;
  transition: all ease-in-out 0.1s;
}
.vote-btns button:active {
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.content{
  border-radius: 20px;
  padding:50px;
  border:2px dotted black;
  display: flex;
  font-size: 20px;
  justify-content: space-evenly;
}
.filter{
  border-radius: 20px;
  padding: 10px 30px;
  display: flex;
  border:2px dotted black;
}
.filter p{
  font-weight: bold;
}
main{
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 30px;
  border:2px dotted black;
}
